{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
	{% if category %}
		{{ category.name }}
	{% else %}
		{% trans "Products" %}
	{% endif %}
{% endblock %}

{% block content %}
	
	<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">
								{% if category %}{{ category.name }}{% else %}
									{% trans "New Products" %}
								{% endif %}
							</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li {% if not category %}class="active"{% endif %}>
										<a  href="{% url 'shop:product_list' %}">	{% trans "All" %}
										</a>
									</li>
									{% for c in categories %}
										<li {% if category.slug == c.slug %}class="active"{% endif %}>
											<a  href="{{ c.get_absolute_url }}">{{ c.name }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
									{% for product in products %}
										<div class="product">
											<div class="product-img">
												<img src="{% if product.image %}{{ product.image.url }}
													{%else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}" height="300" width="250">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{ product.category }}</p>
												<h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
												<h4 class="product-price">${{ product.price }} <del class="product-old-price">123</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
						<form action="{% url 'cart:cart_add' product.id %}"
							method="post" id="add-to-cart-frm">
													{{ cart_product_form2 }}
													{% csrf_token %} 
							<button type="sub" class="add-to-cart-btn">
								<i class="fa fa-shopping-cart"></i>
								{% trans "add to cart" %}
							</button>

						</form>
												
											</div>
										</div>
										<!-- /product -->
									{% endfor %}

										

										
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock %}